/* DEFINIÇÃO DE VARIÁVEIS */
:root { 
    --vermelho: #E50914;
    --preto: #141414;
}

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* OS ELEMENTOS NÃO ROMPERÃO A BORDA DA CAIXA */
}

body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center; /* VERTICAL */
    justify-content: space-between; /* HORIZONTAL */
}

.logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Bebas Neue', cursive; /* FONTE MAIS ADEQUADA QUE A PASSADA NO CURSO */
    font-size: 45px;
}

header nav a {
    text-decoration: none;
    color: #aaaaaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #ffffff;
}