/* DEFINIÇÃO DE VARIÁVEIS */
:root { 
    --vermelho: #E50914;
    --preto: #141414;
}

/* RESET CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* OS ELEMENTOS NÃO ROMPERÃO A BORDA DA CAIXA */
}

body {
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/* NAV BAR */ 
header .container {
    display: flex;
    align-items: center; /* VERTICAL */
    justify-content: space-between; /* HORIZONTAL */
}

.logo {
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Bebas Neue', cursive; /* FONTE MAIS ADEQUADA QUE A PASSADA NO CURSO */
    font-size: 45px;
}

header nav a {
    text-decoration: none;
    color: #aaaaaa;
    margin-right: 10px;
}

header nav a:hover {
    color: #ffffff;
}

/* FILME PRINCIPAL */ 
.filme-principal {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* HORIZONTAL */
    justify-content: center; /* VERTICAL */
    height: 400px;
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0,.50), rgba(0, 0, 0,.50)), url(../images/capa-house.jpg);
    background-size: cover;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

.filme-principal .sinopse {
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .botao {
    margin-right: 15px;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 50%);
    border: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover {
    background-color: white;
    color: black;
}

.botao i {
    margin-right: 8px;
}